---
title: "Welcome to Starlight"
description: "Get started building your docs site with Starlight"
---
<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <h1>Welcome to my website!</h1>
  </body>
</html>