body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #363636;
  background-color: var(--sl-color-bg);
  font-family: Source Sans Pro, Roboto, Helvetica, Helvetica Neue,
    Source Han Sans SC, Source Han Sans TC, PingFang SC, PingFang HK,
    PingFang TC, sans-serif;
  line-height: normal;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 7px 7px;
}

#_top {
  display: none;
}

.content-panel {
  padding: 0 var(--sl-content-pad-x);
}
