---
import "../styles/globals.css";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import WebSite from "../components/websiteIcon";
import "../styles/index.css";
const tagList = [
  {
    id: "1",
    name: "常用",
    icon: "home",
    children: [
      {
        id: "vwLnQvDMr",
        url: "http://www.bilibili.com/",
        type: "icon",
        name: "哔哩哔哩",
        src: "https://files.codelife.cc/website/bilibili2.svg",
        view: 834,
      },
      {
        id: "7ISK2ccmA2sTHDjgGq4IX",
        url: "https://pan.baidu.com/",
        type: "icon",
        name: "百度云",
        src: "https://files.codelife.cc/website/pan-baidu.svg",
        view: 26,
      },
      {
        id: "tqu1Cbxtw",
        url: "https://www.zhihu.com/",
        type: "icon",
        name: "知乎",
        src: "https://files.codelife.cc/website/zhihu.svg",
        view: 121,
      },
      {
        backgroundColor: "#4b3c36",
        iconText: "百度学园",
        id: "DPG8zQ4KC4Xcy_ZXgI8Us",
        name: "百度前端技术学园",
        src: "",
        type: "text",
        url: "http://ife.baidu.com/encyclopedia/readme1.html",
        view: 14,
      },
      {
        backgroundColor: "#4b3c36",
        id: "y51o7iiBRt0yf8Ttmuvu93076",
        name: "前端森林",
        src: "",
        type: "text",
        url: "https://fesites.netlify.app/",
        iconText: "前端森林",
        view: 8,
      },
      {
        id: "Zl_qWjtVuWASuopYw0qFY6879",
        url: "https://docs.apachecn.org/",
        name: "导航文库 - ApacheCN",
        src: "https://docs.apachecn.org/assets/images/logos/logo.png",
        type: "icon",
        iconText: "导航",
        backgroundColor: "#4b3c36",
        view: 11,
      },
      {
        backgroundColor: "#9b59b6",
        iconText: "Edit",
        id: "zXwQc2m91P9TukG7knbRP6115",
        name: "WordPress网站编辑",
        src: "",
        type: "text",
        url: "https://wuxiaotong.wordpress.com/wp-admin/post.php?post=2&action=edit&post_type=page&calypsoify=1&block-editor=1&frame-nonce=b676af868c&origin=https%3A%2F%2Fwordpress.com&environme",
        view: 5,
      },
      {
        id: "41sZuW2wlZtwchekHLOBU7767",
        url: "https://www.makeapie.cn/echarts",
        name: "echarts社区",
        src: "",
        type: "text",
        iconText: "E",
        backgroundColor: "#4b3c36",
        view: 4,
      },
      {
        id: "l-suxpn1O29EQrA8v3yJr5098",
        url: "http://www.ppchart.com/#/",
        name: "PPChart",
        src: "http://www.ppchart.com/favicon.ico",
        type: "icon",
        iconText: "P",
        backgroundColor: "#9b59b6",
        view: 6,
      },
      {
        id: "13IDGYEdb9OLKcfjj0Fj-6043",
        url: "http://chart.majh.top/",
        name: "ECharts 作品集",
        src: "http://chart.majh.top/favicon.ico",
        type: "icon",
        iconText: "ECh",
        backgroundColor: "#4b3c36",
        view: 3,
      },
      {
        id: "u0WWMXi6_rL5uYrSk7bvs6698",
        url: "http://chartlib.datains.cn/echarts",
        name: "chartlib",
        src: "",
        type: "text",
        iconText: "chartl",
        backgroundColor: "#f1c40f",
      },
      {
        backgroundColor: "#9b59b6",
        iconText: "Data",
        id: "UXt5lmYhkCqg62d5JGYN72781",
        name: "DataV（大屏可视化）",
        src: "",
        type: "text",
        url: "http://datav.jiaminghi.com/guide/#%E5%88%9B%E5%BB%BAvue%E9%A1%B9%E7%9B%AE",
        view: 11,
      },
      {
        backgroundColor: "#372128",
        iconText: "开发者客栈",
        id: "AiyUFEVhVTuT4KOyHKdSL8088",
        name: "开发者客栈",
        src: "",
        type: "text",
        url: "https://www.developers.pub/wiki",
        size: "1x2",
        view: 10,
      },
      {
        backgroundColor: "#c8ac70",
        id: "76OoPc93Bk_29DwCjpZvo7733",
        name: "全栈公开课",
        src: "",
        type: "text",
        url: "https://fullstackopen.com/zh/",
        iconText: "全栈细致",
        view: 9,
      },
      {
        backgroundColor: "#0071c0",
        iconText: "前端体系",
        id: "z8Iw1WguKvFPo-qSO1eEu8613",
        name: "web知识体系",
        src: "",
        type: "text",
        url: "https://hejialianghe.gitee.io/guide/#_1-%E5%89%8D%E8%A8%80-preface",
        view: 9,
      },
      {
        backgroundColor: "#023373",
        id: "ax0zYXWbOqcY4Hrn73jew0237",
        name: "后端代码学习",
        src: "",
        type: "text",
        url: "https://itbaima.net/",
        iconText: "后端学习",
        view: 4,
      },
      {
        backgroundColor: "#13ae67",
        id: "2cKuy-_PkRbKuePnXt3qn4304",
        name: "JavaScript框架语法特性",
        src: "",
        type: "text",
        url: "https://component-party.jason-liang.com/",
        iconText: "多框架对比",
        view: 3,
        size: "1x2",
      },
      {
        type: "text",
        id: "4eqhn1VFJPmy9c48x14wy",
        url: "https://chokcoco.github.io/CSS-Inspiration/#/",
        name: "css   inspiration",
        src: "",
        iconText: "css进阶",
        backgroundColor: "#1681ff",
        view: 5,
      },
      {
        backgroundColor: "#ee3b3b",
        iconText: "box-s",
        id: "aVnV8H7VVZX1vAb6l5ZsQ8873",
        name: "box-shadow",
        src: "",
        type: "text",
        url: "https://getcssscan.com/css-box-shadow-examples?ref=producthunt",
        view: 4,
      },
      {
        backgroundColor: "#1890ff",
        iconText: "前端知识",
        id: "jmb6gSDYmiO3SAfzvqBMZ",
        name: "前端布局篇",
        src: "",
        type: "text",
        url: "https://mp.weixin.qq.com/s/TX9ukiCZgo_ji_4LnsAWCA",
        view: 5,
      },
      {
        backgroundColor: "#ee3b3b",
        iconText: "CSS粘",
        id: "_kRUL-rHziPuJMc0PP1WA0248",
        name: "CSS粘贴板",
        src: "",
        type: "text",
        url: "https://htmlcheatsheet.com/css/",
        view: 1,
      },
      {
        id: "-7qCgcH3eEJYdAXmrqUj14504",
        url: "https://lhammer.cn/You-need-to-know-css/#/zh-cn/translucent-borders",
        name: "CSS必知细节",
        src: "",
        type: "text",
        iconText: "CSS",
        backgroundColor: "#fbbe23",
      },
      {
        id: "5N9kZMVnuuBwfdFEos3eP9713",
        url: "https://defensivecss.dev/tips/",
        name: "css易错",
        src: "https://defensivecss.dev/img/favicon.png",
        type: "icon",
        iconText: "Def",
        backgroundColor: "#c82c34",
        view: 1,
      },
      {
        id: "IMYdxG0o2VrZK411TYfZ54735",
        url: "https://css-loaders.com/infinity/",
        name: "loader动画（纯css）",
        src: "",
        type: "text",
        iconText: "loader",
        backgroundColor: "#f9620e",
      },
      {
        backgroundColor: "#e74c3c",
        iconText: "算法结构",
        id: "f2iFyo7IWp4-95lpkXTsI",
        name: "js常见算法01",
        src: "",
        type: "text",
        url: "https://zhuanlan.zhihu.com/p/27659059",
        view: 4,
      },
      {
        backgroundColor: "#e74c3c",
        iconText: "算法结构",
        id: "UD9Dn_FCwg0uNa98JsPlc4553",
        name: "js常见算法02",
        src: "",
        type: "text",
        url: "https://www.jianshu.com/p/2f38ac50c63a",
        view: 1,
      },
      {
        type: "icon",
        id: "Ab0aZIZz3b3yuStGinVS04975",
        url: "https://visualgo.net/zh",
        name: " 数据结构和算法动态可视化 (Chine",
        src: "https://files.codelife.cc/website/5b8e32bc511b0476d9cd5563.png",
        iconText: "Vis",
        backgroundColor: "#f1c40f",
        view: 2,
      },
      {
        backgroundColor: "#33c5c5",
        iconText: "js手册",
        id: "pGfPqlBgzgDjdJthcmoaZ1446",
        name: "js手册",
        src: "",
        type: "text",
        url: "https://zh.javascript.info/",
        view: 7,
      },
      {
        backgroundColor: "#33c5c5",
        iconText: "MDN ",
        id: "f5vVgZCcGDZ6espV0DEn_",
        name: "MDN Web Docs",
        src: "",
        type: "text",
        url: "https://developer.mozilla.org/zh-CN/",
        view: 28,
      },
      {
        backgroundColor: "#13ae67",
        iconText: "taro",
        id: "rlu7-3nKdQKkHNYZGRcMW8401",
        name: " Taro 小程序",
        src: "",
        type: "text",
        url: "https://taro-docs.jd.com/docs/GETTING-STARTED",
        view: 1,
      },
      {
        id: "sz1JYgRbnT4-5-VihH8GB6203",
        url: "https://chat.openai.com/chat",
        name: "chatGPT",
        src: "",
        type: "text",
        iconText: "openai",
        backgroundColor: "#f9620e",
        view: 133,
      },
      {
        backgroundColor: "#ee3b3b",
        id: "07HeCp5-bzgBiS8zsqRo84418",
        name: "Forefront Chat（chatG",
        src: "",
        type: "text",
        url: "https://chat.forefront.ai/",
        iconText: "For",
        view: 139,
      },
      {
        backgroundColor: "#13ae67",
        iconText: "常用正则",
        id: "gpickp3tZP8NBzKrpnKc65798",
        name: "常用正则大全",
        src: "",
        type: "text",
        url: "https://any86.github.io/any-rule/",
        view: 4,
      },
      {
        id: "eYWj019lAw_cx7eFflQvG7721",
        url: "https://gaojiaxiang.imgbb.com/",
        name: "imgbb图库",
        src: "",
        type: "text",
        iconText: "imgbb",
        backgroundColor: "#7dac68",
        view: 14,
      },
      {
        backgroundColor: "#2ecc71",
        id: "vixd1M-Ee9efsFiL3cTNA4363",
        name: "快速上手 | UmiJS",
        src: "https://files.codelife.cc/website/5fea9cb38af9860fb41a9c30.png",
        type: "icon",
        url: "https://umijs.org/docs/tutorials/getting-started",
        view: 4,
      },
      {
        id: "PnaNzo7muY1gcyzzGnho60526",
        url: "https://developer.chrome.com/blog/",
        name: "谷歌团队blog",
        src: "",
        type: "text",
        iconText: "blog",
        backgroundColor: "#1681ff",
      },
      {
        id: "3SgwrTAGh9Yi_onqATqNx6334",
        url: "https://www.52pojie.cn/forum.php?mod=guide&view=newthread",
        name: "吾爱破解论坛",
        src: "https://files.codelife.cc/icons/52pojie.svg",
        type: "icon",
        iconText: "吾爱破",
        backgroundColor: "#e50d2e",
        view: 7,
      },
      {
        backgroundColor: "#f01313",
        id: "Aprp7MaNrE_HEQmGkY_TP3676",
        name: "糖果梦AI",
        src: "",
        type: "text",
        url: "https://bot.tgmeng.com/home",
        iconText: "糖果梦",
        view: 20,
      },
      {
        id: "PWP6eioTGqNFg7_RmYwO36466",
        url: "https://chat18.aichatos.xyz/",
        name: "chat18",
        src: "",
        type: "text",
        iconText: "chat18",
        backgroundColor: "",
        view: 4,
      },
      {
        id: "iSmVoVBMNSdt1WySE_aYN0992",
        url: "https://github.com/bradtraversy/design-resources-for-developers#icons",
        name: "GitHub前端资源",
        src: "https://files.codelife.cc/icons/github.svg",
        type: "icon",
        iconText: "Git",
        backgroundColor: "#000",
        view: 12,
      },
      {
        id: "94ANnSiv3t7HWi-VYsHrq2423",
        url: "https://jin-yufeng.gitee.io/mp-html/#/",
        name: "小程序富文本",
        src: "",
        type: "text",
        iconText: "富文本",
        backgroundColor: "#7dac68",
        view: 2,
      },
      {
        id: "5NwfdJSydAcsHuc3SJ58B1678",
        url: "https://bm.ruankao.org.cn/sign/welcome",
        name: "全国计算机技术与软件专业技术资格",
        src: "https://bm.ruankao.org.cn/asset/image/public/logo.png?1",
        type: "icon",
        iconText: "全国计",
        backgroundColor: "#f01313",
        view: 7,
      },
      {
        id: "3yJtuv0EXRbDi0zvGCHh87397",
        url: "https://v2ex.com/",
        name: "V2EX",
        src: "",
        type: "text",
        iconText: "V2E",
        backgroundColor: "#222222",
        view: 9,
      },
      {
        id: "PrRxlUP-QNM6850qX6C527774",
        url: "https://ui.shadcn.com/",
        name: "01.shadcn",
        src: "https://ui.shadcn.com/favicon.ico",
        type: "icon",
        iconText: "Acc",
        backgroundColor: "#ee3b3b",
        view: 3,
      },
      {
        id: "KCjdnqANHG4Vg7zBKUNl81744",
        url: "https://www.radix-ui.com/themes/docs/overview/getting-started",
        name: "02.radix-ui",
        src: "https://www.radix-ui.com/favicon-black.svg",
        type: "icon",
        iconText: "Get",
        backgroundColor: "#33c5c5",
        view: 1,
      },
      {
        id: "sqM0V3LV-plDFOYqvkPUi5516",
        url: "https://daisyui.com",
        name: "03.daisyUI",
        src: "https://daisyui.com/images/daisyui-logo/daisyui-logomark.svg",
        type: "icon",
        iconText: "dai",
        backgroundColor: "#fc4548",
      },
      {
        id: "yYzNb3fn9v-oreK-fjkam7749",
        url: "https://atlassian.design/components/app-provider/examples",
        name: "04.atlassian",
        src: "https://atlassian.design/favicon-32x32.png?v=1a6878bd61904a7e0f2b06933be8d723",
        type: "icon",
        iconText: "Ove",
        backgroundColor: "#7dac68",
        view: 1,
      },
      {
        id: "95sL1FVHIJX-W3J5qHZtn1739",
        url: "https://semi.design/zh-CN",
        name: "semi-douyin",
        src: "",
        type: "text",
        iconText: "semi",
        backgroundColor: "#054092",
      },
      {
        backgroundColor: "#fbbe23",
        id: "9PnUiEi5jSD8NdZTQ0fu68414",
        name: "nextui",
        src: "https://nextui.org/favicon-32x32.png",
        type: "icon",
        url: "https://nextui.org/docs/guide/introduction",
        iconText: "Int",
        view: 2,
      },
      {
        id: "xw-gP61gcw_QKGVHNkt-F9429",
        url: "https://www.yuque.com/gaojiaxiang-tjs8t/nmd2r5/ugs4zulzoehwlmgw",
        name: "react相关大全",
        src: "https://files.codelife.cc/icons/www.yuque.com.svg",
        type: "icon",
        iconText: "语雀 ",
        backgroundColor: "#5dbd6a",
        view: 2,
      },
      {
        id: "-i3DTiHcZIZGWgZ03dgmS1972",
        url: "https://www.shadcn-vue.com/",
        name: "01.Shadcn vue",
        src: "https://www.shadcn-vue.com/favicon.ico",
        type: "icon",
        iconText: "Sha",
        backgroundColor: "#9b59b6",
      },
      {
        id: "_h9hH_5pj0X2t3TUqseGx7337",
        url: "https://www.radix-vue.com/",
        name: "02.Radix Vue",
        src: "https://www.radix-vue.com/logo.svg",
        type: "icon",
        iconText: "Radix ",
        backgroundColor: "#fc4548",
      },
      {
        id: "vpg1uDY58YBH-PQYRuD6-6358",
        url: "https://www.quasar-cn.cn/",
        name: "Quasar",
        src: "https://cdn.quasar.dev/logo-v2/favicon/safari-pinned-tab.svg",
        type: "icon",
        iconText: "Quasar",
        backgroundColor: "#4b3c36",
      },
      {
        id: "aicRCXhRn8NBrzrAQ2G5L2405",
        url: "https://www.naiveui.com/zh-CN/light/docs/installation",
        name: "Naive UI",
        src: "https://www.naiveui.com/assets/naivelogo-XQ1U1Js8.svg",
        type: "icon",
        iconText: "Nai",
        backgroundColor: "#f01313",
      },
      {
        id: "TOggZ7Z-xr2niFf-nkKe_8634",
        url: "https://primevue.org/vite",
        name: "PrimeVue - Vue UI",
        src: "https://primevue.org/favicon.ico",
        type: "icon",
        iconText: "Pri",
        backgroundColor: "#fbbe23",
      },
      {
        id: "02nw4UxVyICSdtRfA7YPQ5734",
        url: "https://bytemd.js.org/",
        name: "掘金编辑器",
        src: "",
        type: "text",
        iconText: "MD",
        backgroundColor: "",
      },
      {
        id: "V-_LzSfOQntWs8HHW2NSO7855",
        url: "https://vxetable.cn/v3/#/table/start/install",
        name: "vxe-table v3",
        src: "https://vxetable.cn/v3/logo.png",
        type: "icon",
        iconText: "vxe",
        backgroundColor: "#4b3c36",
      },
      {
        backgroundColor: "#023373",
        iconText: "VueUse",
        id: "mkbyHu1nQkwTXgJPTnOeo6966",
        name: "vue生态库",
        src: "",
        type: "text",
        url: "https://vueuse.org/",
        size: "1x2",
        view: 13,
      },
      {
        backgroundColor: "#2ecc71",
        id: "IXVUDbw4waFEFDPkZYazv6543",
        name: " Vue.js挑战",
        src: "",
        type: "text",
        url: "https://cn-vuejs-challenges.netlify.app/getting-started.html",
        iconText: "vue挑战",
        view: 3,
      },
      {
        id: "1lIpjTtswwbPJotftmgJs2775",
        url: "https://caniuse.com/",
        name: "Can I use",
        src: "https://files.codelife.cc/icons/5d35587519c5b849159b9201.png",
        type: "icon",
        iconText: "Can",
        backgroundColor: "#eae0cd",
        view: 1,
      },
      {
        id: "oXne8Xl9qw_yGA2ziZJlZ1856",
        url: "https://github.com/weijunext/indie-hacker-tools",
        name: "海外常用技术栈",
        src: "https://files.codelife.cc/icons/github.svg",
        type: "icon",
        iconText: "Git",
        backgroundColor: "#000",
        view: 2,
      },
      {
        id: "pGbSVPiAs8Zc-oOp1jKOv3468",
        url: "https://excalidraw.com/",
        name: "白板",
        src: "https://excalidraw.com/apple-touch-icon.png",
        type: "icon",
        iconText: "Exc",
        backgroundColor: "#fbbe23",
        view: 2,
      },
      {
        id: "YIeNRWhMUjEG1GOqFZRVl5237",
        url: "https://wxt.dev",
        name: "浏览器插件框架",
        src: "",
        type: "text",
        iconText: "wxt",
        backgroundColor: "#276ce6",
        view: 2,
      },
      {
        id: "WrZ1NQCPFFM4cOSzH7bhx5338",
        url: "https://qdpz.zhoukaiwen.com/",
        name: "移动端模板",
        src: "https://qdpz.zhoukaiwen.com/logo01.png",
        type: "icon",
        iconText: "前端铺",
        backgroundColor: "#276ce6",
      },
      {
        id: "eFuHpgcovpRCD3X4L6dFH8462",
        url: "https://iui.su/",
        name: "每日分享-不死鸟",
        src: "https://iui.su/favicon.ico",
        type: "icon",
        iconText: "磁力搜",
        backgroundColor: "#7dac68",
        view: 1,
      },
      {
        id: "qTE77KKCddEZmjXV25x5d1206",
        url: "https://search.chongbuluo.com/",
        name: "虫部落",
        src: "https://files.codelife.cc/icons/60b9eb19ae5a9ba4024b3a3d.png",
        type: "icon",
        iconText: "快搜 ",
        backgroundColor: "#60bc44",
        view: 1,
      },
      {
        id: "xCzcZzoSAsQinMKyGvk718953",
        url: "https://iknowwhatyoudownload.com/",
        name: "Torrent download",
        src: "https://iknowwhatyoudownload.com/assets/img/utorrent2.png",
        type: "icon",
        iconText: "Tor",
        backgroundColor: "#9326e9",
      },
      {
        id: "X940oLNGvRHFRj6l_tQZR8778",
        url: "https://httpsok.com/console/dashboard",
        name: "SSL证书自动续",
        src: "https://httpsok.com/favicon.ico",
        type: "icon",
        iconText: "htt",
        backgroundColor: "#c8ac70",
        view: 1,
      },
      {
        id: "LtVV3GZKNAZ2cm4t0Zkuo0968",
        url: "https://squoosh.app/",
        name: "图片压缩",
        src: "https://files.codelife.cc/icons/squoosh.svg",
        type: "icon",
        iconText: "谷歌压",
        backgroundColor: "#4a494a",
      },
      {
        id: "MXxW3qP6rPhUeZKEdCL-a9058",
        url: "https://www.nazhumi.com/",
        name: "域名比价",
        src: "https://www.nazhumi.com/favicon.ico",
        type: "icon",
        iconText: "哪煮米",
        backgroundColor: "#ee3b3b",
        view: 1,
      },
      {
        id: "5WMvxBTtyciBa-z2Ojjqf1204",
        url: "https://namebeta.com/",
        name: "域名比价",
        src: "https://namebeta.com/favicon.ico",
        type: "icon",
        iconText: "Nam",
        backgroundColor: "#9326e9",
        view: 1,
      },
      {
        id: "Xlk1aAQynaemnkFbVGANc7523",
        url: "https://www.leaferjs.com/ui/",
        name: "leaferjs",
        src: "",
        type: "text",
        iconText: "leafer",
        backgroundColor: "",
      },
    ],
  }
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JOSH Doc</title>
  </head>
  <body>
    <StarlightPage
      frontmatter={{ title: "首页导航", tableOfContents: false }}
      hasSidebar={false}
    >
      <!-- <WebSite tag="常用" client:load />
      <WebSite tag="程序员" client:load /> -->
      {tagList && tagList.map((item) => (
        <WebSite tag={item.name} defaultList={item.children} client:load />
      ))}
    </StarlightPage>
  </body>
</html>

<script>
  document.addEventListener("contextmenu", (e) => {
    e.preventDefault();
  });
</script>
