---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/SocialIcons.astro";
---
<a href="/" class="sl-flex astro-vzx7cmgl">
  <span>首页</span>
</a>
<a href="/learn/react-ui/" class="sl-flex astro-vzx7cmgl">
  <span>document</span>
</a>
<Default {...Astro.props}><slot /></Default>

<style>
  a {
    text-decoration: none;
    color: var(--sl-color-white);
  }

  a:hover {
    text-decoration: underline;
  }
</style>
